"**T.YOGESH KUMAR**"

In [1]:
# ITERATIONS
   - FOR   : LIMITED  
   - WHILE : UNLIMITED

In [5]:
for i in range(1,10): # start, end , step
    print(i)

1
2
3
4
5
6
7
8
9

In [7]:
#print 0 to n skip by 5
for i in range(0,100,5):
    print(i, end = "^ ")

0^ 5^ 10^ 15^ 20^ 25^ 30^ 35^ 40^ 45^ 50^ 55^ 60^ 65^ 70^ 75^ 80^ 85^ 90^ 95^

In [12]:
# print 100 to 0 and skip by 2
for i in range(100,0,-2):
      print(i, end = " ")

100 98 96 94 92 90 88 86 84 82 80 78 76 74 72 70 68 66 64 62 60 58 56 54 52 50 48 46 44 42 40 38 36 34 32 30 28 26 24 22 20 18 16 14 12 10 8 6 4 2

In [ ]:
# print 10000 to 100 skip by 100
# print only even numbers from the given boundaries
# inputs starts, end(1,10)
# outputs even numbers (2,4,6,8)
for i in  range(1,10,i%2 = 0):
    print(i, end = " ")

In [5]:
start = int(input("enter start value")) # range in even numbers
end = int(input("enter the end vallue"))
for i in range(start,end+1):
    if i%2 == 0:
        print(i,end = " ")

enter start value1
enter the end vallue100
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [11]:
start = int(input("enter starting year")) # range in leap year
end = int(input("enter the ending year"))
for i in range(start,end+1):
    if i%4==0:
        print(i, end = " ")

enter starting year1900
enter the ending year2021
1900 1904 1908 1912 1916 1920 1924 1928 1932 1936 1940 1944 1948 1952 1956 1960 1964 1968 1972 1976 1980 1984 1988 1992 1996 2000 2004 2008 2012 2016 2020

In [12]:
# iterating strings
data=input("enter your string")
for word in data:
    print(word,end="-")

enter your stringyogesh
y-o-g-e-s-h-

In [15]:
l=[1,2,3,4, "good","bad","love"]
for value in l:
    print(value)

1
2
3
4
good
bad
love

In [16]:
s={23,45,65,678,89} #sets
for i in s:
    print(i)

65
678
45
23
89

In [17]:
d={1:"a",2:"b",3:"c",4:"d"} #dict -- key&value
for i in d.items():
    print(i)

(1, 'a')
(2, 'b')
(3, 'c')
(4, 'd')

In [ ]:
#type casting 
convert one type of data in another data 
int - float
float - int 
str - int 
int - str

In [18]:
float(1234)

1234.0

In [19]:
type(float(1234))

float

In [20]:
int(13.56)

13

In [21]:
str(123)

'123'

In [22]:
int('123')

123

In [ ]:
n=int(input(""))
f=

In [1]:
phone=input("enter your phone number")
for n in phone:
    if int(n)%2 == 0:
        print(n)

enter your phone number9701084635
0
0
8
4
6

In [ ]:
# while loop 
#syntax 
while condition: 
    body of loop
    inc/dec
    
    unlimited while means
    while(1)
    while(true)

In [ ]:
while 1:
    name = input("yogi enter your friends name")
if name == "jagan":
    break
else: 
    print(name)

In [4]:
for i in range(10):
    if i==5:
        break
    else:
        print(i)

0
1
2
3
4

In [5]:
for i in range(10):
    if i==5:
        continue
    else:
        print(i)

0
1
2
3
4
6
7
8
9

In [6]:
l=["y",'o','g','e','s',"h"]
for name in l:
    if name=="e":
        continue
    else:
        print(name)

y
o
g
s
h

***BUILD BASIC CALCULATOR***

In [3]:
a=int(input("enter a value"))
o=input("enter operator") # (+,-,*,%,/) 
b=int(input("enter b value"))
# val1 op val2 =
if o=="+":
    print(a+b )
elif o=="-":
    print(a-b )
elif o=="*":
    print(a*b )
elif o=="/":
    print(a/b )
elif o=="%":
    print(a%b )

enter a value2
enter operator/
enter b value3
0.6666666666666666