# Title
## Subtitle
### heading
* point1
* point2
     * sub point
     * sub point
        * hi
        * hello
        
Hi!.. I am ***yogesh***
           *yogi*
**yogi**
        
col1 | col2
--|--
1 | ha
2 | mj

![](chrysanthemum.jpg)

[PYTHON OFFICIAL WEBSITE](https://www.python.org/)

In [5]:
print("HI")

HI

In [6]:
X = 10
Y = 11
Z = 12
X,Y,Z

(10, 11, 12)

In [ ]:
# int, str, tuple, set, dict, tist

In [9]:
2+3

5

In [10]:
2*3

6

In [11]:
5-3

2

In [12]:
type(54313)

int

In [16]:
type("good")

str

In [17]:
22/7

3.142857142857143

In [18]:
print("TELUGU YOGESH KUAMAR")

TELUGU YOGESH KUAMAR

In [19]:
a=53615
b=16454
a*b

882181210

PYTHON IS A SMPLE LANGUAHGE SIMPLE TO USE

In [21]:
20%3 #remainder

2

# OPERATORS
Arthmatic operators(*,/,-,+,%)
logical(and,or,not)
bitwise(!|&)
assignment(=,==,)

AND 
T & T --T
T & F --F
F & T --F
F & F --F

In [24]:
X**2

100

In [27]:
2&3

2

In [30]:
~(23-100)

76

In [32]:
# member ship
"h" in "yogesh"

True

In [33]:
# Realational operators
a = 10
b = 100
a == b

False

 **VARIABLES FEATURRES**

In [42]:
a = input("enter your password")
print (a)

enter your passwordyogesh
yogesh

In [ ]:
# conditional statements
  - if
  - else
  - elif

In [48]:
if 100 != 100:
    print("lol")
else:
    print("opps")

opps

In [50]:
# EVEN ODD NUMBERS
100%2 == 0

True

In [55]:
n = int(input("enter one value"))
if n%2 == 0:
    print(n," is even")
else:
    print(n,"is odd")

enter one value200
200  is even

In [56]:
n = int(input("enter one value"))
if n<0:
    print(n,"is negative")
else:    
    print(n,"is positive")

enter one value-1
-1 is negative

In [58]:
n = int(input("enter one value"))
if n%4 == 0:
    print(n,"leap year")
else:
    printf(n,"not a leap year")

enter one value2004
2004 leap year

In [66]:
cgpa = int(input("enter your cgpa"))
if cgpa == 10:
    print("O")
elif cgpa == 9:
    print("A")
elif cgpa == 8:
    print("B")
elif cgpa == 7:
    print("C")
elif cgpa == 6:
    print("D")
else:
    print("your are loss")

enter your cgpa8
B

In [69]:
age = int(input("enter your age"))
if age(">0,<13"):
    print("child")
elif age(">12,<20"):
    print("teenage")
elif age(">20,<30")
    print("youth")
elif age(">30,<50")
    print("uncle and aunties")
elif age (">50,<90")
    print("old")
else:
    print("congrats")

SyntaxError: invalid syntax (<ipython-input-69-60347a3188e2>, line 6)